[Unit]
Description=csj-lol url shortner
Documentation=https://csj.lol
After=network.target

[Service]
RestartSec=10
Restart=always
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=csj-lol
Environment="PORT=2550" "NODE_ENV=production" "MONGODB_URI="
WorkingDirectory=/var/lib/node/url
ExecStart=/usr/local/bin/npm run dev

[Install]
WantedBy=multi-user.target
