[Unit]
Description=csj-lol url shortner
Documentation=https://csj.lol
After=network.target

[Service]
RestartSec=10
Restart=always
StandardError=syslog
StandardOutput=syslog
SyslogIdentifier=csj-lol
WorkingDirectory=/var/lib/node/csj-lol
EnvironmentFile=/var/lib/node/csj-lol/.env
ExecStartPre=/var/lib/node/csj-lol/start.sh i
ExecStart=/var/lib/node/csj-lol/start.sh production

[Install]
WantedBy=multi-user.target
